<fieldset>
  <legend>Search</legend>

    <%= form_for(@search_staff, url: search_create_staffs_url) do |f| %>
    <div class="w3-row-padding">
      <%= f.label :staff_id, class: "w3-label" %><br>
      <%= f.text_field :staff_id,  class: "w3-input w3-margin-bottom w3-border w3-round w3-validate" %>
    </div>


    <div class="w3-row-padding">
        <%= f.label :firstname,nil, class: "w3-label" %>
        <%= f.text_field :firstname, class: "w3-input w3-margin-bottom w3-border w3-round w3-validate" %>
    </div>

    <div class="w3-row-padding">
      <%= f.label :lastname, class: "w3-label" %><br>
      <%= f.text_field :lastname, class: "w3-input w3-margin-bottom w3-border w3-round w3-validate" %>
    </div>

    <div class="w3-row-padding">
      <%= f.label :category, class: "w3-label " %><br>
      <%= f.collection_select :category, Category.order(:name), :id, :name, {include_blank:true}, {class: "w3-input w3-round w3-border w3-margin-bottom"} %>
    </div>

    <div class="w3-row-padding">
      <%= f.label :department, class: "w3-label" %><br>
      <%= f.collection_select :department, Department.order(:name), :id, :name, {include_blank:true}, {class: "w3-input w3-round w3-border w3-margin-bottom"} %>

    </div>

    <div class="w3-row-padding">
      <%= f.submit :Submit, class: "w3-btn w3-round w3-theme-d4 w3-left w3-margin-bottom" %>
  <% end %>
</fieldset>
