<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @staff.staff_id %>
</p>

<p>
  <strong>Date join:</strong>
  <%= @staff.date_join %>
</p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>:</strong>
  <%= @staff. %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @staff.date_of_birth %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @staff.qualification %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @staff.specialization %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @staff.grade %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @staff.job_description %>
</p>

<p>
  <strong>Date of first appointment:</strong>
  <%= @staff.date_of_first_appointment %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @staff.marital_status %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @staff.spouse_name %>
</p>

<p>
  <strong>No of children:</strong>
  <%= @staff.no_of_children %>
</p>

<p>
  <strong>Image:</strong>
  <%= @staff.image %>
</p>

<p>
  <strong>Address:</strong>
  <%= @staff.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @staff.city %>
</p>

<p>
  <strong>Region:</strong>
  <%= @staff.region %>
</p>

<p>
  <strong>:</strong>
  <%= @staff. %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<p>
  <strong>Active:</strong>
  <%= @staff.active %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @staff.religion %>
</p>

<p>
  <strong>User:</strong>
  <%= @staff.user_id %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
