<%= form_for(term) do |f| %>
  <% if term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Personal Details</legend>
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <%= f.label :name, class: "w3-label" %>
        <%= f.text_field :name, class: "w3-input w3-medium w3-border w3-round", :required=>true %>
      </div>
    </div>
  </fieldset>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :calendar_id %>
    <%= f.number_field :calendar_id %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
