<% if Programme.exists? %>
<p id="notice"><%= notice %></p>

<table class="w3-table-all">
  <thead >
    <tr class="w3-teal">
      <th>Programme</th>
      <th class="w3-center"colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @programmes.each do |programme| %>
      <tr>
        <td><%= programme.name %></td>
        <td class="w3-center"><%= link_to 'Edit', edit_programme_path(programme) %></td>
        <td class="w3-center"><%= link_to 'Delete', programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else%>
  <p>
    No programme found!
  </p>
<% end %>
<br>

<%= link_to '+', new_programme_path, :class => "w3-btn-floating w3-teal w3-right" %>
