<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @programme.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @programme.code %>
</p>

<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>
