<%= provide(:page_title, "Staff Grades")%>
<%= provide(:staff_active, "activelink")%>

<table class="w3-table-all ">
  <thead>
    <tr class="w3-theme-d4">
      <th>Grade</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @staff_grades.each do |grade| %>
      <tr>
        <td><%= grade.name %></td>
        <td><%= grade.staff_category.name.capitalize %></td>
        <td>
        <%= link_to 'Edit', edit_admin_staff_grade_path(grade), class: "w3-btn w3-tiny w3-amber"  %>
        <%= link_to 'Delete', admin_staff_grade_path(grade), method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-btn w3-tiny w3-red"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to '+ Staff Grade', new_admin_staff_grade_path, class: "w3-btn w3-tiny w3-theme-d4 w3-right w3-round"  %>
