<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>, <%= @user.email %></h1>
    <p>
      <%= @greeting %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Email: <%= @user.email%> and Password: <%= @password %>
    </p>
    <p>Thanks You!</p>
  </body>
</html>
