<%= form_for(badge, url: url) do |f| %>
  <%= error_messages_for(f.object)%>
  <fieldset class="w3-panel w3-round-large w3-card w3-light-gray w3-small">
    <legend class="w3-container w3-padding">
      <a href="javascript:void();" onclick="$('#editBadge').toggle(300);">Badge Details <i class="fa fa-caret-down"></i></a>
    </legend>
  <div id="editBadge">
    <div class="w3-row-padding">
        <%= f.label :name, class: "w3-label" %>
        <%= f.text_field :name, class: "w3-input w3-card w3-round " %>
    </div>
    <br>
    <div class="w3-row-padding">
      <%= f.label :programme_id, class: "w3-label" %><br>
      <%= f.select(:programme_id, Programme.all.map{|p| [p.name, p.id]}, {:include_blank => true}, {:class => "w3-input w3-validate w3-card w3-round" }) %>
    </div>
    <br>
    <div class="w3-row-padding">
      <%= f.label :grade_level_id, class: "w3-label" %><br>
      <%= f.select(:grade_level_id, GradeLevel.all.map{|l| [l.name, l.id]}, {:include_blank => true}, {class: "w3-input w3-round w3-card w3-validate w3-card w3-round" }) %>
    </div>
    <br>
    <div class="w3-row-padding">
      <%= f.label :start_date, class: "w3-label " %><br>
      <%= f.text_field :start_date, class: "w3-input datepicker w3-card w3-round" %>
    </div>
    <br>
    <div class="w3-row-padding">
      <%= f.label :end_date, class: "w3-label" %><br>
      <%= f.text_field :end_date, class: "w3-input datepicker w3-card w3-round" %>
    </div>
    <br>
    <div class="w3-row-padding">
      <%= f.submit :Submit, class: "w3-btn w3-round w3-theme-d4 w3-right w3-margin-bottom" %>
    <% end %>
