<%= provide(:page_title, "Badges")%>
<%= provide(:settings_active, "activelink")%>

<table class="w3-table-all">
  <thead>
    <tr class="w3-theme-d4">
      <th>Name</th>
      <th>Programme</th>
      <th>Level</th>
      <th>Duration</th>
      <th  class="w3-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= Level.find(badge.level_id).lev+badge.name %></td>
        <td><%= Programme.find(badge.programme_id).name %></td>
        <td><%= Level.find(badge.level_id).name %></td>
        <td><%= badge.start_date.year.to_s+"-"+badge.end_date.year.to_s %></td>
        <td class="w3-center">
          <%= link_to 'Edit', edit_admin_badge_path(badge),class: "w3-btn w3-round w3-tiny w3-amber" %>
          <%= link_to 'Del', admin_badge_path(badge), method: :delete, data: { confirm: 'Are you sure?' },class: "w3-btn w3-round w3-tiny w3-red" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '+', new_admin_badge_path, class: "w3-btn w3-theme-d4 w3-right w3-tiny" %>
