<%= form_for(student, html: { multipart: true }) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <fieldset class="w3-round ">
      <legend class="w3- w3-round">Placement</legend>
      <div class="w3-row-padding">
        <div class="w3-col m6">
          <%= f.label :placed_id, "Placed ID:", class: "w3-label w3-validate" %>
          <%= f.text_field :placed_id, class: "w3-input w3-medium w3-border w3-round", :required=>true%>
        </div>

        <div class="w3-col m6">
          <div><%= f.label :placed_date, "Placed Date:", class: "w3-label " %></div>
          <div><%= f.date_select :placed_date,{:order=>[:day, :month, :year]}, {class: "w3-select w3-round date-select w3-border w3-medium"}%></div>
        </div>
      </div>
    </fieldset>
    <br>
    <fieldset class="w3-round ">
      <legend>Basic Info</legend>
      <div class="w3-row-padding">

        <div class="w3-col m6">
          <div><%= f.label :first_name, "First Name:", class: "w3-label" %></div>
          <%= f.text_field :first_name, class: "w3-input w3-medium w3-border w3-round", :required=>true%>
        </div>

        <div class="w3-col m6">
          <div><%= f.label :last_name, class: "w3-label" %></div>
          <div><%= f.text_field :last_name, class: "w3-input w3-medium w3-border w3-round", :required=>true%></div>

        </div>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col m6">
          <div><%= f.label :gender, class: "w3-label" %></div>
          <div><%= f.select(:gender, {Male: :M, Female: :F}, {:include_blank => true}, { :class => "w3-select w3-round w3-border w3-margin-bottom", :required=>true }) %></div>
        </div>
        <div class="w3-col m6">
          <div><%= f.label :date_of_birth, class: "w3-label" %></div>
          <div><%= f.date_select :date_of_birth,{:order=>[:day, :month, :year]}, {class: "w3-select w3-round date-select w3-border w3-medium", :required=>true}  %></div>
        </div>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div><%= f.label :religion, class: "w3-label" %></div>
          <div><%= f.select(:religion, {Islam: :Islam, Christianity: :Christianity, Traditonal: :Traditional, Other: :Other}, {:include_blank => true}, { :class => "w3-select w3-round w3-margin-bottom" }) %></div>
        </div>
      </div>
    </fieldset>
    <br>
    <fieldset class="w3-round ">
      <legend>Enrollment Info</legend>
      <div class="w3-row-padding">
        <div class="w3-col m6">
          <div><%= f.label :programme_id, class: "w3-label" %></div>
          <div><%= f.select(:programme_id, Programme.all.map{|p| [p.name, p.id]}, {:include_blank => true}, { :class => "w3-select w3-round", :required=>true }) %></div>
        </div>
        <div class="w3-col m6">
          <div><%= f.label :badge_id, :Class, class: "w3-label" %></div>
          <div><%= f.select(:badge_id, Badge.all.map{|b| [Level.find(b.level_id).lev+b.name, b.id]}, {:include_blank => true}, { :class => "w3-select w3-round", :required=>true }) %></div>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div><%= f.label :badge_id, "House", class: "w3-label" %></div>
          <div><input type="text" name="name" value="" class="w3-input w3-round w3-border"></div>
        </div>
      </div>
    </fieldset>
    <br>
    <fieldset class="w3-round ">
      <legend>Contact Info</legend>
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div><%= f.label :address, class: "w3-label" %></div>
          <div><%= f.text_field :address, class: "w3-input w3-medium w3-border w3-round" %></div>
        </div>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col m6">
          <div><%= f.label :city, class: "w3-label" %></div>
          <div><%= f.text_field :city, class: "w3-input w3-medium w3-border w3-round" %></div>
        </div>
        <div class="w3-col m6">
          <div><%= f.label :region, class: "w3-label" %></div>
          <div><%= f.select(:region, {"Upper West"=>"Upper West", "Upper East"=>"Upper East", "Northern"=>"Northern", "Brong Ahafo"=>"Brong Ahafo", "Asante"=>"Asante", "Eastern"=>"Eastern", "Central"=>"Central", "Western"=>"Western", "Volta"=>"Volta", "Greater Accra"=>"Greater Accra", "Other"=>"Other"}, {:include_blank => true}, { :class => "w3-select w3-round w3-margin-bottom" }) %></div>
        </div>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col m6">
          <div><%= f.label :phone, class: "w3-label" %></div>
          <div><%= f.phone_field :phone, class: "w3-input w3-medium w3-border w3-round" %></div>
        </div>
        <div class="w3-col m6">
          <div><%= f.label :email, class: "w3-label" %></div>
          <div><%= f.email_field :email, class: "w3-input w3-medium w3-border w3-round" %></div>
        </div>
      </div>
    </fieldset>
    <br>
    <fieldset class="w3-round ">
      <div class="w3-row-padding">
        <div class="w3-col m12 w3-margin">
          <%= f.label :Image, class: "w3-label" %>
          <%= f.file_field :image, class: "" %>
        </div>
      </div>
    </fieldset>
    <br>
    <fieldset class="w3-round " ><!--Portal Accounts Form -->
      <legend>
          Allow Portal Access? &nbsp;&nbsp;
          <label for="chkNo"><input type="radio" id="chkNo" name="chkUser" checked="Yes" onclick="ShowHideDiv()"/>No</label>
          &nbsp;&nbsp;
          <label for="chkYes"><input type="radio" id="chkYes" name="chkUser" onclick="ShowHideDiv()"/>Yes</label>
      </legend>

      <div id="dvUser" style="display: none;">
          User name:
          <input type="text" id="username", class="w3-input w3-round" />
          Password:
          <input type="password" id="password", class="w3-input w3-round" />
      </div>
    </fieldset><!--End of Portal Account Form -->

    <div class="w3-row-padding">
      <div class="w3-col m12">
        <%= f.submit :Save, class: "w3-btn w3-round  w3-right w3-margin-top" %>
  <% end %>
