<table class="w3-table-all">
  <thead>
    <tr class="w3-theme-d1">
      <th>Placed ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Programme</th>
      <th>Level</th>
      <th >Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.placed_id %></td>
        <td><%= student.last_name+ " "+student.first_name %></td>
        <td><%= student.gender %></td>
        <td><%= student.programme_id %></td>
        <td><%= Badge.find(student.badge_id).name %></td>
        <td>
         <%= link_to 'Show', student_path(student), class: "w3-btn w3-round w3-tiny w3-theme-d4" %>
         <%= link_to 'Edit', edit_student_path(student), class: "w3-btn w3-round w3-tiny w3-amber" %>
         <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-btn w3-round w3-tiny w3-red" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
