<p id="notice"><%= notice %></p>

<p>
  <strong>Placed:</strong>
  <%= @student.placed_id %>
</p>

<p>
  <strong>Placed date:</strong>
  <%= @student.placed_date %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @student.religion %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @student.programme_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @student.level_id %>
</p>

<p>
  <strong>Badge:</strong>
  <%= @student.badge_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Region:</strong>
  <%= @student.region %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= @student.guardian_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
