<%= provide(:page_title, "New Staff Position")%>
<%= provide(:staff_active, "w3-theme-d4 w3-round")%>
<%= provide(:staff_positions_active, " w3-black")%>

  <%= render 'form', staff_position: @staff_position, url: admin_staff_positions_url %>

  <%= link_to 'Cancel', admin_staff_positions_path, class: "w3-btn w3-round w3-left w3-margin-right" %>
  </div>
