<%= provide(:page_title, "Programmes")%>
<%= provide(:settings_active, "activelink")%>

<div >
  <table class="w3-table-all w3-small">
    <thead>
      <tr class="w3-theme-d4">
        <th>Programme</th>
        <th>Code</th>
        <th class="w3-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @programmes.each do |programme| %>
        <tr>
          <td><%= programme.name %></td>
          <td><%= programme.code %></td>
          <td class="w3-center">
            <span><%= link_to "#{content_tag(:i, '', :class => ("fa fa-pencil"))}".html_safe, edit_admin_programme_path(programme)%>&nbsp;&nbsp;
            <%= link_to "#{content_tag(:i, '', :class => ("fa fa-trash"))}".html_safe, admin_programme_path(programme), method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "#{content_tag(:i, '', :class => ("fa fa-plus"))}".html_safe, new_admin_programme_path, class: "w3-right"%>
</div>
