<p id="notice"><%= notice %></p>

<h1>Departments</h1>

<table class="w3-table-all">
  <thead>
    <tr class="w3-theme-d4">
      <th>Department</th>
      <th>Category</th>
      <th class="w3-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= Category.find(department.category_id).name %></td>
        <td class="w3-center">
          <%= link_to 'Delete', department, method: :delete, data: { confirm: 'Are you sure?' },class: "w3-btn w3-theme-d4 w3-tiny" %>
          <%= link_to 'Edit', edit_department_path(department), class: "w3-btn w3-tiny w3-red" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Department', new_department_path, class: "w3-btn w3-tiny w3-theme-d4 w3-right" %>
