<%= provide(:page_title, "Staff Departments")%>
<%= provide(:staff_active, "activelink")%>


<table class="w3-table-all w3-small">
  <thead>
    <tr class="w3-theme-d4">
      <th>Department</th>
      <th>Category</th>
      <th class="w3-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @staff_departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= StaffCategory.find(department.staff_category_id).name %></td>
        <td class="w3-center">
          <span><%= link_to "#{content_tag(:i, '', :class => ("fa fa-pencil"))}".html_safe, edit_admin_staff_department_path(department)%>&nbsp;&nbsp;
          <%= link_to "#{content_tag(:i, '', :class => ("fa fa-trash"))}".html_safe, admin_staff_department_path(department), method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "#{content_tag(:i, '', :class => ("fa fa-plus"))}".html_safe, new_admin_staff_department_path, class: "w3-right"%>
