<%= form_for(staff, url: url) do |f| %>
<div class="w3-btn-block w3-left-align w3-theme-d1">School Information</div>
  <div class="w3-container w3-accordion-content w3-light-gray w3-card ">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <div><%= f.label :staff_id, "Staff ID", class: "w3-label" %></div>
        <div><%= f.text_field :staff_id, class: "w3-input", :required=>true %></div>
      </div>
      <div class="w3-col m6">
        <div><%= f.label :date_join, class: "w3-label" %></div>
        <div><%= f.text_field :date_join, class: "w3-input datepicker", :required=>true %></div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col m6">
        <div><%= f.label :Category, class: "w3-label" %></div>
        <%= f.collection_select :staff_category_id, StaffCategory.order(:name), :id, :name, {include_blank:true}, {class: "w3-input "} %>
      </div>
      <div class="w3-col m6">
        <div><%= f.label :Department, class: "w3-label" %></div>
        <%= f.grouped_collection_select :staff_department_id, StaffCategory.order(:name), :staff_departments,:name, :id, :name, {include_blank:true}, {class: "w3-input"} %>
      </div>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <div><%= f.label :staff_position, "Position",class: "w3-label" %></div>
        <%= f.grouped_collection_select :staff_position_id, StaffCategory.order(:name), :staff_positions,:name, :id, :name, {include_blank:true}, {class: "w3-input"} %>
      </div>
      <div class="w3-col m6">
        <%= f.label :staff_grade, "Grade", class: "w3-label" %>
        <%= f.grouped_collection_select :staff_grade_id, StaffCategory.order(:name), :staff_grades,:name, :id, :name, {include_blank:true}, {class: "w3-input"} %>
      </div>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <div><%= f.label :date_of_first_appointment, class: "w3-label" %></div>
        <div><%= f.text_field :date_of_first_appointment, class: "w3-input datepicker", :required=>true %></div>
      </div>
      <div class="w3-col m6">
        <div><%= f.label :qualification, class: "w3-label" %></div>
        <div><%= f.text_field :qualification, class: "w3-input" %></div>
      </div>
    </div>
  </div>

  <br>
  <div class="w3-btn-block w3-left-align w3-theme-d1">Personal Details</div>
    <div class="w3-container w3-accordion-content w3-light-gray w3-card ">
    <div class="w3-row-padding">
      <div class="w3-col m6 ">
        <div><%= f.label :first_name, class: "w3-label" %></div>
        <div><%= f.text_field :first_name, class: "w3-input", :required=>true %></div>
      </div>
      <div class="w3-col m6 ">
        <div><%= f.label :last_name, class: "w3-label" %></div>
        <div><%= f.text_field :last_name, class: "w3-input", :required=>true %></div>
      </div>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <div><%= f.label :gender, class: "w3-label" %></div>
        <div><%= f.select(:gender, {Male: :M, Female: :F}, {:include_blank => true}, { :class => "w3-input", :required=>true }) %></div>
      </div>

      <div class="w3-col m6">
        <div><%= f.label :date_of_birth, class: "w3-label" %></div>
        <div><%= f.text_field :date_of_birth, class: "w3-input datepicker", :required=>true %></div>
      </div>
    </div>
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <%= f.label :religion, class: "w3-label" %>
        <div><%= f.select(:religion, {Islam: :Islam, Christianity: :Christianity, Traditional: :Traditional, Other: :Other}, {:include_blank => true}, { :class => "w3-input" }) %></div>
      </div>
      <div class="w3-col m6">
        <%= f.label :marital_, class: "w3-label" %>
        <div><%= f.select(:marital_status, {Single: :Single, Married: :Married}, {:include_blank => true}, { :class => "w3-input"}) %></div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col m6">
        <div><%= f.label :spouse_name, class: "w3-label" %></div>
        <div><%= f.text_field :spouse_name, class: "w3-input"%></div>
      </div>
      <div class="w3-col m6">
        <div><%= f.label :no_of_children, class: "w3-label" %></div>
        <div><%= f.number_field :no_of_children, class: "w3-input"  %></div>
      </div>
    </div>
    <br>
    <div class="w3-row-padding">
      <div class="w3-col m12 w3-theme-l3 w3-round w3-margin-bottom">
        <div class="w3-padding w3-round ">
          <%= f.label :image, class: "w3-label" %>
          <%= f.file_field :image%>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-btn-block w3-left-align w3-theme-d1">Contact Details</div>
    <div class="w3-container w3-accordion-content w3-light-gray w3-card ">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div><%= f.label :address, class: "w3-label" %></div>
        <div><%= f.text_field :address, class: "w3-input" %></div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col m6">
        <div><%= f.label :city, class: "w3-label" %></div>
        <div><%= f.text_field :city, class: "w3-input" %></div>
      </div>

      <div class="w3-col m6">
        <div><%= f.label :region, class: "w3-label" %></div>
        <div><%= f.select(:region, {"Upper West" => "Upper West", "Upper East" => "Upper East", "Northern" => "Northern", "Brong Ahafo" => "Brong Ahafo", "Asanti" => "Asanti", "Eastern" => "Eastern", "Central" => "Central", "Western" => "Western", "Volta" => "Volta", "Greater Accra" => "Greater Accra", "Other" => "Other"}, {:include_blank => true}, { :class => "w3-input" }) %></div>
      </div>

    </div>

    <div class="w3-row-padding">
      <div class="w3-col m6">
        <div><%= f.label :phone, class: "w3-label" %></div>
        <div><%= f.text_field :phone, class: "w3-input"  %></div>
      </div>
      <div class="w3-col m6">
        <div><%= f.label :email, class: "w3-label" %></div>
        <div><%= f.email_field :email, class: "w3-input"  %></div>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-row-padding">
    <div class="w3-col m12">
      <%= f.submit "Save", class: "w3-btn w3-round  w3-right w3-theme-d4" %>

<% end %>
