 <%= provide(:page_title, "Remove #{@staff.first_name.capitalize+' '+@staff.last_name.capitalize}")%>
 <%= provide(:staff_active, "activelink")%>

  <%= form_for(admin_staff_path(@staff), :method => 'delete') do |f| %>
    <fieldset class="w3-round">
      <p >
        Are you sure you want to remove
        <strong><%= @staff.first_name.capitalize+" "+@staff.last_name.capitalize%></strong>
      </p>
      <%= f.submit("Remove", class: "w3-btn w3-theme-d4 w3-round w3-right")%>
    </fieldset>
  <% end %>
