<%= provide(:page_title, "#{@staff.first_name+' '+@staff.last_name}")%>
<%= provide(:staff_active, "activelink")%>

<div class="w3-container">
  <div class="w3-row   w3-padding-0"><!-- page actions -->
    <div class="w3-col m12 w3-padding-0 ">
      <ul class="w3-navbar w3-card-2 w3-theme-d3 w3-right w3-tiny">
        <li ><%= link_to '< Back', search_admin_staffs_path ,class: "w3-border"%></li>
        <li class="w3-dropdown-hover">
          <%= link_to "Profile", admin_staff_path(@staff), class: "w3-border" %>
          <div class="w3-dropdown-content w3-card-4 w3-theme-d4">
            <%= link_to 'Edit', edit_admin_staff_path(@staff)%>
            <%= link_to 'Arichive', confirm_archive_admin_staff_path(@staff.id)%>
            <%= link_to 'Remove', delete_admin_staff_path(@staff.id)%>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- page actions -->

  <div class="w3-row-padding"><!-- page content -->
    <div class="w3-col m2 w3-padding-0 w3-margin-top ">
        <%= image_tag @staff.image_url.to_s, class: " w3-container w3-padding-0 w3-round img-frame" %> <br><br>
        <strong><%= @staff.first_name.capitalize+" "+@staff.last_name.capitalize %></strong><br>
    </div>
    <div class="w3-col m8 w3-border-left w3-padding w3-margin-top">
      <table class="w3-table w3-striped w3-bordered">
        <tr>
          <td class="w3-right" ><strong>Staff ID:</strong></td>
          <td  style="width: 60%"><%= @staff.staff_id %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Date Join:</strong></td>
          <td><%= @staff.date_join %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>StaffCategory:</strong></td>
          <td><%= StaffCategory.find(@staff.staff_category_id).name.capitalize %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Department:</strong></td>
          <td><%= StaffDepartment.find(@staff.staff_department_id).name.upcase %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Position:</strong></td>
          <td><%= StaffPosition.find(@staff.staff_position_id).name.capitalize %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Qualification:</strong></td>
          <td><%= @staff.qualification %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Grade:</strong></td>
          <td><%= StaffGrade.find(@staff.staff_grade_id).name.capitalize %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>First Appointment Date:</strong></td>
          <td><%= @staff.date_of_first_appointment %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Gender:</strong></td>
          <td><%= @staff.gender %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Date of Birth:</strong></td>
          <td><%= @staff.date_of_birth %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Religion:</strong></td>
          <td><%= @staff.religion %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Marital Status:</strong></td>
          <td><%= @staff.marital_status %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Spouse Name:</strong></td>
          <td><%= @staff.spouse_name %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Children:</strong></td>
          <td><%= @staff.no_of_children %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Address Location:</strong></td>
          <td><%= @staff.address %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>City/Town:</strong></td>
          <td><%= @staff.city %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Region:</strong></td>
          <td><%= @staff.region %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Phone:</strong></td>
          <td><%= @staff.phone %></td>
        </tr>
        <tr>
          <td class="w3-right"><strong>Status:</strong></td>
          <td><%= @staff.active ? "Current" : "Past" %></td>
        </tr>
      </table>
    </div>
  </div><!-- page content -->
</div>
