
<div class="w3-panel w3-light-gray w3-round-large w3-small">

<%= form_for(parent, url: url) do |f| %>
  <fieldset class="w3-panel w3-round-large w3-card w3-light-gray w3-small">
    <legend class="w3-container w3-padding">
      <a href="javascript:void();" onclick="$('#fatherDetails').toggle(300);"><b>Father Details</b> <i class="fa fa-caret-down"></i></a>
    </legend>
    <div id="fatherDetails">
      <div class="w3-row">
        <div class="w3-col s12 w3-margin-bottom w3-padding">
          <%= f.label :father_name,"Full Name", class: "w3-label" %>
          <%= f.text_field :father_name, class: "w3-input", placeholder: "first name, lastname" %>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col s12 w3-margin-bottom w3-padding">
          <%= f.label :father_occupation, "Occupation", class: "w3-label" %>
          <%= f.text_field :father_occupation, class: "w3-input" %>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col s12 w3-margin-bottom w3-padding">
          <%= f.label :father_education,"Education", class: "w3-label" %>
          <%= f.text_field :father_education, class: "w3-input" %>
        </div>
      </div>
        <div class="w3-row">
          <div class="w3-col s12 w3-margin-bottom w3-padding">
            <%= f.label :father_town, "Home Town", class: "w3-label" %>
            <%= f.text_field :father_town, class: "w3-input" %>
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col s12 w3-margin-bottom w3-padding">
            <%= f.label :father_region, "Home Region", class: "w3-label" %>
            <%= f.select(:father_region, {"Upper West" => "Upper West", "Upper East" => "Upper East", "Northern" => "Northern", "Brong Ahafo" => "Brong Ahafo", "Asanti" => "Asanti", "Eastern" => "Eastern", "Central" => "Central", "Western" => "Western", "Volta" => "Volta", "Greater Accra" => "Greater Accra", "Other" => "Other"}, {:include_blank => true}, { :class => "w3-input" }) %>
          </div>
        </div>
    </div>
  </fieldset>

  <fieldset class="w3-panel w3-round-large w3-card w3-light-gray w3-small">
    <legend class="w3-container w3-padding">
      <a href="javascript:void();" onclick="$('#motherDetails').toggle(300);"><b>Mother Details</b> <i class="fa fa-caret-down"></i></a>
    </legend>
    <div id="motherDetails">
      <div class="w3-row">
        <div class="w3-col s12 w3-margin-bottom w3-padding">
          <%= f.label :mother_name,"Full Name", class: "w3-label" %>
          <%= f.text_field :mother_name, class: "w3-input", placeholder: "first name, lastname" %>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col s12 w3-margin-bottom w3-padding">
          <%= f.label :mother_occupation, "Occupation", class: "w3-label" %>
          <%= f.text_field :mother_occupation, class: "w3-input" %>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col s12 w3-margin-bottom w3-padding">
          <%= f.label :mother_education,"Education", class: "w3-label" %>
          <%= f.text_field :mother_education, class: "w3-input" %>
        </div>
      </div>
        <div class="w3-row">
          <div class="w3-col s12 w3-margin-bottom w3-padding">
            <%= f.label :mother_town, "Home Town", class: "w3-label" %>
            <%= f.text_field :mother_town, class: "w3-input" %>
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col s12 w3-margin-bottom w3-padding">
            <%= f.label :mother_region, "Home Region", class: "w3-label" %>
            <%= f.select(:mother_region, {"Upper West" => "Upper West", "Upper East" => "Upper East", "Northern" => "Northern", "Brong Ahafo" => "Brong Ahafo", "Asanti" => "Asanti", "Eastern" => "Eastern", "Central" => "Central", "Western" => "Western", "Volta" => "Volta", "Greater Accra" => "Greater Accra", "Other" => "Other"}, {:include_blank => true}, { :class => "w3-input" }) %>
          </div>
        </div>
    </div>
  </fieldset>

  <div class="w3-row-padding">
    <%= f.submit :Save, class: "w3-btn w3-round w3-theme-d4 w3-left w3-margin-top" %>
  </div>
</div>
<% end %>
