
<%= form_for(staff_category, url: url) do |f| %>
  <% if staff_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% staff_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="w3-container w3-round">
    <legend>Category Details</legend>
    <div class="w3-row-padding w3-padding-16">
      <div class="w3-col m2">
        <%= f.label :name, class: "w3-label" %>
      </div>
      <div class="w3-col m6">
        <%= f.text_field :name, class: "w3-input w3-medium w3-border w3-round", :required=>true %>
      </div>
      <div class="w3-col m4">
        <%= f.submit "Save", class: "w3-btn w3-round w3-theme-d4" %>

<% end %>
