<%= provide(:page_title, "Staff Positions")%>
<%= provide(:staff_active, "active")%>

<table class="w3-table-all ">
  <thead>
    <tr class="w3-theme-d4">
      <th>Position</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @staff_positions.each do |staff_position| %>
      <tr>
        <td><%= staff_position.name %></td>
        <td><%= staff_position.staff_category.name.capitalize %></td>
        <td>
        <%= link_to 'Edit', edit_staff_position_path(staff_position), class: "w3-btn w3-tiny w3-amber"  %>
        <%= link_to 'Delete', staff_position, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-btn w3-tiny w3-red"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to '+ Staff Grade', new_staff_position_path, class: "w3-btn w3-tiny w3-theme-d4 w3-right w3-round"  %>
