<%= form_for(calendar) do |f| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w3-row-padding">
    <%= f.label :name, class: "w3-label" %>
    <%= f.text_field :name, placeholder: "E.g. "+(Time.now.year.to_s)+"-"+(Time.now.year+1).to_s, class: "w3-input w3-margin-bottom w3-border w3-round" %>
  </div>

  <div class="w3-row-padding">
    <%= f.label :start_date, class: "w3-label" %><br>
    <%= f.date_select :start_date,{:order=>[:day, :month, :year]}, {class: "w3-select w3-round date-select w3-margin-bottom w3-margin-bottom"}  %>

  </div>

  <div class="w3-row-padding">
    <%= f.label :end_date, class: "w3-label" %><br>
    <%= f.date_select :end_date,{:order=>[:day, :month, :year]}, {class: "w3-select w3-round date-select w3-margin-bottom w3-margin-bottom"}  %>
  </div>

  <div class="w3-row-padding">
    <%= f.label :active, class: "w3-label" %>
    <%= f.check_box :active, class: "w3-check w3-margin-bottom" %>
  </div>

  <div class="w3-row-padding">
    <%= f.submit :Submit, class: "w3-btn w3-round w3-theme-d4 w3-right" %>

<% end %>
