<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @calendar.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @calendar.end_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @calendar.active %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
