<div class="w3-container w3-theme-l4 small-form">
  <%= form_for(level) do |f| %>
    <% if level.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(level.errors.count, "error") %> prohibited this level from being saved:</h2>

        <ul>
        <% level.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <br>

      <%= f.label :level, class: "w3-label"%><br>
      <%= f.select(:level, 1..10, {:include_blank => true}, { :class => "w3-select w3-round" }) %>
    </div>
    <br>
    <div class="field">
      <%= f.label :name, class: "w3-label" %>
      <%= f.text_field :name, class: "w3-input w3-round w3-border" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit :Submit, class: "w3-btn w3-round w3-theme-d4 w3-right" %>

  <% end %>

</div>
