<!--Main Navigation -->
<ul class="w3-navbar w3-theme-d1 w3-card-2 w3-left-align w3-large" id="navbar">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-medium" href="javascript:void(0);" onclick="toggleSmallScreenMenu()" title="Toggle Navigation Menu"> Menu</a>
  </li>
  <li>
    <%= link_to image_tag("logo.png", size: "40x40", class: "w3-circle"), root_path, class: ""%>
  </li>
  <li class="w3-hide-small">
    <%= link_to "Settings",admin_programmes_path, class: "w3-margin-top tablink #{yield(:settings_active)}"%>
  </li>
  <li class="w3-hide-small">
    <%= link_to "Students", admin_students_path, class: "w3-margin-top tablink #{yield(:students_active)}"%>
  </li>
  <li class="w3-hide-small ">
    <%= link_to "Staff", admin_staffs_path, class: "w3-margin-top tablink #{yield(:staff_active)}"%>
  </li>
  </li>
    <li class="w3-right w3-hide-small"><a href="#" class="w3-padding-large">Logout</a></li>
  </ul>
<!-- Navbar on small screens -->
<div id="smallScreenMenu" class="w3-hide w3-hide-large w3-hide-medium">
  <ul class="w3-navbar w3-left-align w3-large w3-black">
    <li><%= link_to "Students", search_admin_staffs_path, class: "w3-medium"%></li>
    <li><%= link_to "Staff", admin_staffs_path, class: "w3-medium"%></li>
  </ul>
</div>

<!-- Admin actions Tabs -->
<div class="w3-container w3-hide-small w3-theme-d4 sub-menu %>" >

  <ul class="w3-navbar w3-hide w3-tiny w3-padding-0" id="<%= yield(:settings_active)%>">
    <li><%= link_to "Programmes", admin_programmes_path %></li>
    <li><%= link_to "Badges", admin_badges_path %></li>
    <li><%= link_to "Grade Levels", admin_levels_path %></li>

  </ul>

  <ul class="w3-navbar w3-hide w3-tiny w3-padding-0" id="<%= yield(:staff_active)%>">
    <li><%= link_to "Search staff", admin_staffs_path %></li>
    <li><%= link_to "Add staff", new_admin_staff_path %></li>
    <li class="w3-dropdown-hover">
      <a href="#">Settings <%= image_tag("caret.gif", class: "caret")%></a>
      <div class="w3-dropdown-content w3-theme-d4 w3-card-4">
        <%= link_to "Staff Categories", admin_staff_categories_path%>
        <%= link_to "Staff Departments", admin_staff_departments_path%>
        <%= link_to "Staff Positions", admin_staff_positions_path%>
      </div>
    </li>
  </ul>

  <ul class="w3-navbar w3-hide w3-tiny w3-padding-0" id="<%= yield(:students_active)%>">
    <li><a href="#">Search students</a></li>
    <li><%= link_to "Add Student", new_admin_student_path %></li>
    <li class="w3-dropdown-hover">
      <a href="#">Settings</a>
      <div class="w3-dropdown-content w3-theme-d4 w3-card-4">
        <%= link_to "Programmes", admin_programmes_path%>
        <%= link_to "Levels", admin_levels_path%>
        <%= link_to "Badges", admin_badges_path%>
      </div>
    </li>
  </ul>

</div>
