
<nav class="w3-sidenav w3-collapse w3-theme-l2 w3-round" style="z-index:3;width:250px;margin-top:40px;" id="pageActions">

  <div class=" w3-row">
    <a class="w3-card-2  w3-theme-d4" >Manage staff</a>
    <%= link_to "New Staff", new_admin_staff_path, class: " w3-hover-light-gray #{yield(:new_staff_active)}"%>
    <%= link_to "Search Staff", search_admin_staffs_path, class: "w3-hover-light-gray #{yield(:search_staff_active)}"%>
  </div>

  <div class=" w3-row ">
    <a class="w3-card-2  w3-theme-d4" >Staff settings</a>
    <%= link_to "Staff Categories", admin_staff_categories_path, class: "w3-hover-light-gray #{yield(:staff_categories_active)}"%>
    <%= link_to "Staff Departments", admin_staff_departments_path, class: "w3-hover-light-gray #{yield(:staff_department_active)}"%>
    <%= link_to "Staff Grades", admin_staff_grades_path, class: "w3-hover-light-gray #{yield(:staff_grades_active)}"%>
    <%= link_to "Staff Positions", admin_staff_positions_path, class: "w3-hover-light-gray #{yield(:staff_positions_active)}"%>
  </div>

</nav>
