<!DOCTYPE html>
<html >
  <head>
    <title>SIP | <%= yield(:page_title)%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<body class="w3-gray">

  <!-- Navbar -->
  <div class="w3-top">

    <%= render "layouts/admin_menu"%>

  </div>

  <!-- Content -->

  <div class="w3-row-padding w3-round w3-card-2 w3-container" id="page-content">

    <% if notice.present? %>
    <div class="w3-panel w3-margin-top w3-small w3-round w3-theme-l2" id="notice">
      <p><%= notice %></p>
    </div>
    <% end %>

    <div class="w3-col s12 w3-content w3-padding-8" >
      <%= yield %>
    </div>

  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-opacity" id="page-footer">
   <p>&copy <%= Time.now.year()%></p>
  </footer>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
