<!DOCTYPE html>
<html >
  <head>
    <title>SIP | <%= yield(:page_title)%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<body class="w3-gray">

  <!-- Navbar -->
  <% if user_signed_in? %>
    <div class="w3-top w3-theme-d1 center-position " id="navbar">
      <ul class="w3-navbar w3-card-2 w3-left-align w3-large ">
        <li>
          <%= link_to image_tag("logo.png", size: "40x40", class: "w3-circle"), root_path%>
        </li>

        <li class="w3-dropdown-hover w3-right w3-medium w3-margin-top">
          <%= link_to "#{current_user.email}", "javascript:void();" %>
          <div class="w3-dropdown-content w3-theme-d4 w3-card-4 w3-small">
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          </div>
        </li>
    </div>
  <% end %>

  <!-- Page Messages -->

  <!-- Content -->
  <div class="w3-row-padding" id="page-container">

      <div class="w3-content  w3-round w3-padding-16" id="page-content">

        <%= yield %>

      </div>

  </div>


</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
