<!DOCTYPE html>
<html>
  <head>
    <title>SIP</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

<%= render "layouts/admin_menu"%>

<!-- Main content -->
<div class="w3-main" style="margin-left:300px">

  <div class="w3-row w3-padding-64 w3-round" id="main-content"><!-- Content row -->

    <div class="w3-col m12 w3-container"><!-- Page Content -->

      <%= yield %>

    </div><!-- End of Page content -->

  </div><!-- End of Content row -->

   <div class="w3-row w3-padding-64">
      <div class="w3-col m12 w3-container ">
      <hr>
        <p> @copy <%= Time.now.year %></p>
      </div>
  </div>

</div>
<!-- END MAIN -->
</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
