<!DOCTYPE html>
<html>
  <head>
    <title>Students Information system</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >

    <div class="w3-row">
      <%= render "layouts/admin_menu"%>
    </div>

      <div class="w3-row">

        <div class="w3-container w3-padding-16 w3-theme-l4" id="content-wrapper">
          <%= yield %>
        </div>

      </div>

      <div class="w3-row">
        <hr>
        <footer >&copy 2016</footer>
      </div>

  </body>
</html>
